.carousel-inner img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .carousel-item {
    max-height: 500px; /* Set a fixed height for the carousel, adjust as needed */
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    align-items: center; /* Vertically center images */
  }
  