
/* product cart css-------------------------------------------------------------------------------------------------- */
/* Container Styling */
/* Container Styling */
.grocery {
  background: linear-gradient(to bottom right, #dfffbf, #ffeaba);
  /* max-width: 1100px; */
  width: 98%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
.grocery-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  color: #2c3e50;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

/* Row Layout */
.grocery-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}



/* Card Image */
.grocery-card-image {
  width: 100%;
  height: 150px !important;
  object-fit: cover;
  /* border-radius: 8px; */
  margin-bottom: 15px;
}

/* Product Name */
.grocery-card-name {
  font-size: 15px;
  font-weight: bold;
  color: #34495e;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0; 
  height: 70px;
}
/* Product Price */
.grocery-card-price {
  font-size: 16px;
  color: #7f8c8d;
  /* margin-bottom: 15px; */
}

/* Add to Cart Button */
.grocery-card-button {
  background: #9ddb5f;
  color: black;
  border: none;
  padding: 12px 0; /* Adjusts height without expanding button width */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensures full-width button */
  margin-top: auto; /* Pushes the button to the bottom of the card */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Hover Effect */
.grocery-card-button:hover {
  background-color: #427c09;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* product cart css end--------------------------------------------------------------------------------------------- */



